:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color-rose-taupe: #7f636e;
  --secondary-color-pale-purple: #d1b8cd;
  --tertiary-color-sage: #b3b492;
  --other-color-bone: #d8d0c1;
  --light-grey: #d0d0d0;
  --dim-grey: #6f686d;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

.main-liked {
  margin: auto;
  text-align: center;
}

body {
  margin: auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dim-grey);
  max-width: 1300px;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--primary-color-rose-taupe);
}

.search {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

input[type="text"] {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px;
  width: 300px;
}

.btn {
  cursor: pointer;
}

button[type="submit"] {
  padding: 0.5em 2em;
  background-color: var(--secondary-color-pale-purple);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

.searchResults {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 40px 0;
}

.searchResults > div {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.searchResults img {
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.searchResults h3 {
  color: #333;
  font-size: 24px;
  margin: 0;
}

.searchResults ul {
  margin: 0;
  padding: 0;
}

.searchResults li {
  list-style: none;
  margin-bottom: 10px;
}

.searchResults a {
  background-color: #007bff;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
}

.searchResults a:hover {
  background-color: #0069d9;
}

.liked {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.liked a {
  text-decoration: none;
  color: var(--primary-color-rose-taupe);
  font-size: 30px;
  font-family: var(--font-headline);
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
